// custom styles
// Entries on this file overwrite main.scss

// VARIABLES
$green-main: #4DB6AC;
$font-size: 18px;
$shadow: 0 20px 40px 0 rgba(0,0,0,0.24);




* {
	font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif, Arial;
	margin: 0;
	padding: 0;
}


// for section headers (s classes)
h1 {
	font-weight: 900;
	color: $green-main;
	font-size: 4rem;
}

h2 {
	color: white;
	font-size: 3rem;
	font-weight: 900;
}

// for numbers
h3 {
	color: $green-main;
	font-weight: 300;
	font-size: 6rem;
	opacity: 0.6;
}

h4 {
	font-weight: 300;
	color: white;
}

// squares 
strong {
	font-weight: 900;
}
h5 {
	font-weight: 300;
}
// squares ^^

p {
	font-size: $font-size;
}


.jumbotron {
	border-radius: 0;
	margin: 0;
	height: 100vh;
}
// –––––––––––––––––––S1
.s1 {
	color: white;
	background: url("../images/pool.jpg") center;
	background-size: cover;
	position: relative;
	.text-container {
		position: absolute;
		bottom: 45%;
	}
}

// –––––––––––––––––––S2
.s2 {
		background-color: #f2f2f2;
    background: url(../images/waves.svg) no-repeat;
    background-position: bottom;
    background-size: contain;
    position: relative;
    .fact {
			margin-top: 10%;
    }
    .source {
    	position: absolute;
    	bottom: 1rem;
    	opacity: 0.6;
    }
}

// –––––––––––––––––––S3
.s3 {
	background: url("../images/cartagena.jpg") center;
	background-size: cover;
	position: relative;
	.container-fluid {
		position: relative;
		top: 20%;
	}
	.quotes {
		border-radius: 2px;
		display: inline-block;
		width: 600px;
		padding: 1rem;
		box-sizing: border-box;
		background-color: rgba(242,242,242, 0.8);
		color: black;
		float: left;
	}
}

.s4 {
	height: auto;
}

////////////////////// SQUARES
.square {
	height: 220px;
	margin-top: 4rem;
	box-shadow: $shadow;
	position: relative;
	text-align: left;
	box-sizing: border-box;
	padding: 15px;
	color: white;
	.square-text {
		position: absolute;
		bottom: 10px;
		text-shadow: 0 0 20px #000000 !important;
		letter-spacing: 1px;
	}
}


#dental {
	background: url("../images/dental.jpg");
	background-size: cover;
}
#weight {
	background: url("../images/pineapple.jpg");
	background-size: cover;
}
#plastic {
	background: url("../images/relax.jpg");
	background-size: cover;
}
#transportation {
	background: url("../images/car.jpg");
	background-size: cover;
}
#accomodation {
	background: url("../images/vista-mar.jpg");
	background-size: cover;
}
#experiences {
	background: url("../images/cartagena.jpg");
	background-size: cover;
}





.s5 {
	background-color: white;
}

.s6 {
	background: url("../images/family.jpg") center;
	background-size: cover;
	position: relative;
	h2 {
		font-weight: 300;
		width: 60%;
		position: absolute;
		bottom: 15%;
		text-align: left;
	}
}


footer {
	height: 250px;
	background: url("../images/footer.png") center;
	background-size: cover;
	text-align: center;
	position: relative;
	.footer-text {
		width: 40%;
		color: white;
		position: absolute;
		top: 100px;
		left: 30%;
	}
}











