// custom styles
// Entries on this file overwrite main.scss

// VARIABLES
$green-main: #4DB6AC;


* {
	font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif, Arial;
	margin: 0;
	padding: 0;
}


// for section headers (s classes)
h1 {
	font-weight: 900;
	color: $green-main;
	font-size: 4rem;
}

h2 {
	color: white;
	font-size: 3rem;
	font-weight: 900;
}

// for numbers
h3 {
	color: $green-main;
	font-weight: 300;
	font-size: 6rem;
	opacity: 0.6;
}

h4 {
	font-weight: 300;
}

.jumbotron {
	border-radius: 0;
	margin: 0;
	height: 100vh;
}
// –––––––––––––––––––S1
.s1 {
	color: white;
	background-image: url("../images/pool.jpg");
	background-size: cover;
	position: relative;
	.text-container {
		position: absolute;
		bottom: 45%;
	}
}

// –––––––––––––––––––S2
.s2 {
		background-color: #f2f2f2;
    background: url(../images/waves.svg) no-repeat;
    background-position: bottom;
    background-size: contain;
    position: relative;
    .fact {
			margin-top: 10%;
    }
    .source {
    	position: absolute;
    	bottom: 1rem;
    	opacity: 0.6;
    }
}

// –––––––––––––––––––S3
.s3 {
	background: url("../images/cartagena.jpg");
	background-size: cover;
	position: relative;
	.container-fluid {
		position: relative;
		top: 20%;
	}
	.quotes {
		border-radius: 2px;
		display: inline-block;
		width: 600px;
		padding: 1rem;
		box-sizing: border-box;
		background-color: rgba(242,242,242, 0.8);
		color: black;
		float: left;
	}
}



